[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/terrehbyte/hugo-theme-cactus
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
