{%- assign author = site.authors[page.author] -%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.webmaster_realname }} | {{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.tagline %}{{ page.tagline }}{% elsif page.title %}{{ page.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 15 | strip_html }}{% else %}{{site.description}}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="theme-color" content="{{ site.chrome_theme_color }}">

    <!--Facebook-->
    <!--Basic Metadata-->
    <meta property="og:url"         content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <meta property="og:title"       content="{% if page.title %}{{ page.title }}{% else %}{{ site.webmaster_realname }} | {{ site.title }}{% endif %}"/>
    <meta property="og:description" content="{% if page.tagline %}{{ page.tagline }}{% elsif page.title %}{{ page.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 15 | strip_html }}{% else %}{{site.description}}{% endif %}"/>
    <meta property="og:bigimage"    content="{{ page.bigimage | prepend: site.baseurl | prepend: site.url }}"/>

    <!--Twitter Cards-->
    <!--Summary Card-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ author.twitter }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.webmaster_realname }} | {{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.tagline %}{{ page.tagline }}{% elsif page.title %}{{ page.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 15 | strip_html }}{% else %}{{site.description}}{% endif %}">
    <meta name="twitter:image:src" content="{{ page.bigimage | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ "/favicon/favicon.ico" | prepend: site.baseurl }}">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{{ "/favicon.ico" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="196x196" href="{{ "/favicon/favicon-196.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="160x160" href="{{ "/favicon/favicon-160.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "/favicon/favicon-96.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="64x64" href="{{ "/favicon/favicon-64.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon/favicon-32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon/favicon-16.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/favicon/favicon-152.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ "/favicon/favicon-144.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/favicon/favicon-120.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/favicon/favicon-114.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/favicon/favicon-76.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/favicon/favicon-72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" href="{{ "/favicon/favicon-57.png" | prepend: site.baseurl }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ "/favicon/favicon-144.png" | prepend: site.baseurl }}">
    <meta name="msapplication-config" content="{{ "/favicon/browserconfig.xml" prepend: site.baseurl }}">

  {%- if site.ga_tracking_id %}
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.ga_tracking_id }}', 'auto');
      ga('require', 'displayfeatures');
    ga('send', 'pageview');

  </script>
  {% endif %}

    {% if page.url == "/" %}
    <!-- Google Structured Data - Blog -->
    <script type="application/ld+json">
    {  "@context" : "http://schema.org",
       "@type" : "Blog",
       "name" : "{{ site.title }}",
       "alternateName" : "{{ site.title }} blog",
       "url" : "{{ site.url }}"
    }
    </script>

    {%- elsif page.is_post %}
    <!-- Google Structured Data - BlogPosting -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "datePublished": "{{ page.date | date : "%Y-%m-%d" }}",
      "author":
      {
        "@type": "Person",
        "name": "{{ author.real_name }}",
        "url": "{{ author.url }}"
      },
      "headline": "{{ page.title }}",
      "name": {{ page.title }},
      {%- if page.bigimage %}
      "image": "{{ page.bigimage | prepend: site.url | prepend: site.baseurl }}",
      {% endif -%}
      "description": "{{ page.tagline }}",
      "mainEntityOfPage": "{{ page.url | prepend: site.url | prepend: site.baseurl}}"
      "wordCount": "{{ page.content | number_of_words }}"
    }
    </script>
    {% endif %}
</head>
