<div class="flex-container flex-wrap flex-evenly flex-gap-1 gallery" style="text-align: center;">
    <a href="/projects/undiscloseda" class="gallery-item-10">
        <figure>
            <img src="/projects/undiscloseda/cover.webp" class="full-width">
            <figcaption><strong>Undisclosed</strong></figcaption>
        </figure>
    </a>

    <a href="/projects/vextar" class="gallery-item-10">
        <figure>
            <img src="/projects/vextar/cover.webp" class="full-width">
            <figcaption><strong>Vextar</strong></figcaption>
        </figure>
    </a>

    <a href="/projects/blubberbusters" class="gallery-item-10">
        <figure>
            <img src="/projects/blubberbusters/cover.webp" class="full-width">
            <figcaption><strong>Blubber Busters</strong></figcaption>
        </figure>
    </a>

    <a href="/projects/sinasprite" class="gallery-item-10">
        <figure>
            <img src="/projects/sinasprite/cover.webp" class="full-width">
            <figcaption><strong>Sinasprite</strong></figcaption>
        </figure>
    </a>
</div>
